
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 20px;
  background-color: #333;
}

.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

.fakeimg {
  background-color: #333;
  width: 100%;
  padding: 10px;
}

.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.trailer{
    color: red;
    font-size: large;
}

.comment {
  background-color: white;
  border: 1px solid black;
  width: 100%;
  padding: 10px;
}